<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://cdn.dribbble.com/userupload/3387124/file/original-9f4ba2b0ea2cf2be53359637d9823b32.jpg?resize=1200x900);">
</div>

<div>

  <div class='row justify-content-center'>
    <div class='col'>
    <div class="card-add-trip border">
      <div class="form-add-trip ">
        <div class="add-trip-title mb-5">
          <h1><strong>Add a new trip</strong></h1>
        </div>
      <%= render 'form', trip: @trip%>

      </div>
      </div>
    </div>
  </div>

</div>
