
<div class="container-add-trip border mt-5 p-2 ">


<div class="form-add-trip ">
<div class="add-trip-title mb-5">
  <h1><strong>Add a new trip</strong></h1>
</div>
<%= render 'form', trip: @trip%>
</div>
</div>
