
.add-trip-title{
  text-align: center;

}

.form-add-trip{
  padding:100px 5px;
}

.container-add-trip{
  background-color:#213638d5;
	border-radius: 35px;
	max-width: 400px;
  height: 820px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  opacity:.9;
  margin: 10px;
  color:#ffff;
}

.add-trip-button{
  background-color:#CFE7E5 ;
  border-radius: 15px;
  padding:4px;
  text-align: center;
  width:200px;
}

