
.add-trip-title{
  text-align: center;
}

.form-add-trip{
  padding:20px 5px;

}

.card-add-trip{
  background-color:#fffffff6;
	border-radius: 50px 50px 0 0;
  color: #133C55;
  margin-top: -150px;
  z-index:10;
  position: absolute;
  width:100%;
  padding: 0.5rem;
  padding-bottom: 50px;
  // height: 820px;
  // box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  // // opacity:.9;
  // margin: 10px;
  // color:#133C55;
  // position: absolute;
}

.add-trip-button{
  background-color: #55a5b2;
  border-radius: 15px;
  padding:9px;
  text-align: center;
  width:200px;
  color:#f1e8e8;
  font-size: 20px;
  font-weight: bolder;


}

a:link{
  color: #FFFFFF;
}

.add_trips-page{
  background-color: #133C55;
}

.arrive{
  border-radius: 20%;
}

// .footer{
//   position:fixed;
//   bottom:0;
//   left:0;
//   width:100%;
//   height: 50px;
//   background-color:#ACE1AF;

// }

.menu{
  font-size: 2rem;

  justify-content: space-between;
}

.form-control{
  border-radius: 10px;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  top:-55px;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #e5a23ed6;
  color: #000000;
  border: 1px solid #e5a13e;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #cfe7e5;
  color: rgb(4, 4, 4);
}
