// .edit-trip-form {
//   background-color: #f4f4f4;
//   padding: 40px;
//   border-radius: 10px;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

//   h1 {
//     font-size: 24px;
//     margin-bottom: 20px;
//   }

//   .form-input {
//     margin-bottom: 20px;

//     label {
//       color: #333;
//       font-weight: bold;
//       margin-bottom: 10px;
//     }

//     input[type="text"],
//     input[type="date"],
//     input[type="checkbox"] {
//       width: 100%;
//       padding: 10px;
//       border: 1px solid #ddd;
//       border-radius: 5px;
//       outline: none;
//     }

//     input[type="checkbox"] {
//       margin-top: 10px;
//     }
//   }

//   .form-submit {
//     text-align: center;

//     button[type="submit"] {
//       background-color: #007bff;
//       color: #fff;
//       border: none;
//       padding: 12px 30px;
//       border-radius: 5px;
//       cursor: pointer;
//       font-size: 16px;
//       transition: background-color 0.3s;

//     }
//   }
// }
.card-edit-trip{
background-color:#fffffff6;
border-radius: 50px 50px 0 0;
color: #133C55;
margin-top: -150px;
z-index:10;
position: absolute;
width:100%;
}

.edit-trip-title{
  text-align: center;
}

.edit-trip-button{
  background-color: #55a5b2;
  border-radius: 15px;
  padding:9px;
  text-align: center;
  width:200px;
  color:#f1e8e8;
  font-size: 20px;
  font-weight: bolder;


}

.form-edit-trip{
  padding:20px 5px;

}


