// body{
//   background-image: url("https://images.pexels.com/photos/2265876/pexels-photo-2265876.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
//   background-size: cover;
//   background-repeat: no repeat;
//   background-attachment: fixed;


// }



.card{
  justify-content: center;
  margin:15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height:300px;

}
.details{
  font-size: 25px;

}

.my-trips-buttons{
  display: flex;
}





// a:link{
//   color:rgb(0, 0, 0);
// }
.match-button{
  background-color:#079fadd4;
  border-radius: 15px;
  padding:8px;
  margin:5px;
  text-align: center;
  margin-top: 100px;
  width: 5cm;
}

.button-cancel{
width:5cm;
border-radius: 15px;
background-color: rgb(232, 226, 226);
color: rgb(4, 4, 4);
border: none;
padding: 8px;
text-decoration: none;
margin-top: 100px;
}

.title h2{
  text-align: center;
  padding:20px;
  margin-top: 10px;
  font-size: 2.5rem;
}

  a{
    text-decoration: none;

  }

  .my_trips-page{
    background-color:#ffffff;
  }
