



.form-inputs1{

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  opacity: 0.9;

}

.sign-page{
  background-image: url("https://images.pexels.com/photos/10710542/pexels-photo-10710542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no repeat;
  background-attachment: fixed;

}

.signup-page{

}
