<footer class="footer">
  <div class="container grid-4 footer-icons">
    <%= link_to new_trip_path do %>
     <i class="fa-solid fa-earth-americas"></i>
    <% end %>
    <%= link_to trips_path do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to my_matches_path do %>
     <i class="fa-regular fa-comment-dots"></i>
    <% end %>
    <%= link_to edit_user_registration_path do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</footer>
