<footer class="footer">
  <div class="container grid-3 footer-icons">
    <%= link_to new_trip_path do %>
      <i class="fa-solid fa-plane-departure fa-2x"></i>
    <% end %>
    <%= link_to trips_path do %>
      <i class="fa-solid fa-house fa-2x"></i>
    <% end %>
    <%= link_to my_matches_path do %>
      <i class="fa-solid fa-comment-dots fa-2x"></i>
    <% end %>
  </div>
</footer>
