<div class="navbar position-relative navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= image_tag("logo.png", id: "logo", style: "margin-top: 5px;") %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <!-- Navbar content here -->
      </ul>
    </div>
  </div>
</div>
