<div class="container-about">
  <div class="home-page-title">
    <h1>Explore More Connect Better</h1>
  </div>
    <div class= "para"><p>Find compatible travel buddies to embark on your journey with confidence</p></div>
  <div class="home-buttons">
    <%= link_to new_trip_path do %>
      <div class="get-started">
        Get Started
      </div>
    <% end %>
  </div>
</div>
