<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body class="home-page">
  <!-- Your home page content goes here -->
</body>
</html>

<div class="home-page-title position-absolute bottom-0 start-0 ">
<h1>Explore More Connect Better</h1>
</div>
<div class="get-started position-absolute bottom-0 start-0">
  <%= link_to "Get Started", new_user_registration_path %>
</div>

