<div class="tinder" data-controller="swipe" data-swipe-target="container">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
    <% @trip_matches.each do |trip| %>

      <div class="tinder--card" data-swipe-target="card" style="background-image: url('https://source.unsplash.com/category/faces/500x500');">
        <div class="">
          <h2><%= trip.user.fullname %></h2>
          <p>Age: <%= trip.user.age %></p>
        </div>
      </div>

    <% end %>
  </div>

  <div class="tinder--buttons">
    <button data-swipe-target="nope"><i class="fa fa-remove"></i></button>
    <button data-swipe-target="love"><i class="fa fa-heart"></i></button>
  </div>
</div>
