<div class="container">
  <div class="title"><h1>My Matches</h1></div>

  <% @my_matches.each do |match| %>
    <div class="chat">
        <img class="chat_avatar" src="https://randomuser.me/api/portraits/men/11.jpg">
      <div class="chat_info">
        <div class="contact_name">
          <% if current_user == match.user1 %>
          <%= match.user2.fullname %>
          <% else %>
          <%= match.user1.fullname %>
          <% end %>
        </div>
        <div class="contact_msg">

        </div>
      </div>

        <div class="chat_new ">
          <%= link_to 'Chat', match_chatroom_path(match, match.chatroom), class: "btn btn-success" %>
        </div>
    </div>
  <% end%>
</div>
