.footer {
  position: fixed;
  bottom: 0;
  height: 5vh;
  background-color: #2a3d45;
  width: 100%;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:10 ;
}

.footer-icons {
  a {
    color: #b7c9d7;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.footer .container.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create a grid layout with 4 columns */
  gap: 10px; /* Optional: Add gap between grid items */
}

.footer-push {
  height: 50px;
}
