.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  position: absolute;
  width: 170px;
  object-fit: cover;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

}
